### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df = pd.DataFrame(df)

## Player Count

* Display the total number of players

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

In [18]:
# Define total players
df["SN"].count()
Total_Players = df["SN"].count()

In [19]:
# Print total players count
print(f'Total Players: {Total_Players}')

Total Players: 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Obtain number of unique items and define it
Unique_Item_Count = len(pd.unique(df["Item Name"]))

In [21]:
# Obtain average price
Average_Price = df["Price"].mean()

In [22]:
# Number of purchases
Total_purchases = df["Price"].count()

In [23]:
# Total Revenue
Total_Revenue = df["Price"].sum()

In [24]:
# Summary table list
Summary_Info = {"Number of Unique Items": [Unique_Item_Count],
"Average Price": [Average_Price],
"Number of Purchases": [Total_purchases],
"Total_Revenue": [Total_Revenue]}

Summary_df = pd.DataFrame(Summary_Info)
Summary_df["Average Price"] = Summary_df["Average Price"].astype(float).map("${:,.2f}".format)
Summary_df["Total_Revenue"] = Summary_df["Total_Revenue"].astype(float).map("${:,.2f}".format)
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total_Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
# Group by gender
Gender_df = df.groupby("Gender")

In [26]:
#Count of players by gender
GenderCount_df = Gender_df["Price"].count()

In [27]:
# Percent of each gender
Percent_of_Players = GenderCount_df / Total_purchases
Percent_of_Players = Percent_of_Players.round(2)

In [28]:
# Merge GenderCount_df and Percent_of_Players
GenderCountSummary = pd.merge(GenderCount_df, Percent_of_Players, on="Gender")

In [29]:
# Change column titles and add percent formatting
GenderCountRenamed = GenderCountSummary.rename(columns={"Price_x": "Total", "Price_y": "Percentage of Players"})

# Convert to DataFrame
GenderCountFinal = pd.DataFrame(GenderCountRenamed)

# Formatting
GenderCountFinal["Percentage of Players"] = GenderCountFinal["Percentage of Players"].astype(float).map('{:.0%}'.format)
print(GenderCountRenamed)

                       Total Percentage of Players
Gender
Female                   113                   14%
Male                     652                   84%
Other / Non-Disclosed     15                    2%

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# Sum together all the pricing for each gender
TotalPurchase_df = Gender_df["Price"].sum()

In [31]:
# Find the Average Purchase price
AveragePurchasePr_df = Gender_df["Price"].mean()
AveragePurchasePr_df = AveragePurchasePr_df.round(2)

In [32]:
# Avg Total Purchase per person - Count names for each gender
Unique_names = df[["Gender","SN"]].groupby("Gender").nunique()
Unique_names = pd.DataFrame(Unique_names)

In [33]:
# Merge Player count and value total for each gender
AveragePlayerValue_df = pd.merge(Unique_names, TotalPurchase_df, on="Gender")

In [34]:
# AveragePlayerValue_df to find average player value
AvgPlayerValue = AveragePlayerValue_df['Price']/AveragePlayerValue_df['SN']
AvgPlayerValue = AvgPlayerValue.round(2)

AvgPlayerValue_df = pd.DataFrame(AvgPlayerValue)

In [35]:
# Merge together tables
GenderPurchaseSummary = pd.merge(GenderCount_df, TotalPurchase_df, on="Gender")
GenderPurchaseSummary2 = pd.merge(GenderPurchaseSummary, AveragePurchasePr_df, on="Gender")
GenderPurchaseSummary3 = pd.merge(GenderPurchaseSummary2, AvgPlayerValue_df, on="Gender")

In [36]:
# Rename Columns
GenderPurchaseSummaryRenamed = GenderPurchaseSummary3.rename(columns=
    {"Price_x": "PurchaseCount", "Price_y": "Total Purchase Value", "Price": "Average Purchase Price", 0: "Avg Total Purchase per Person"})

# Format
GenderPurchaseSummaryRenamed["Total Purchase Value"] = GenderPurchaseSummaryRenamed["Total Purchase Value"].astype(float).map("${:,.2f}".format)
GenderPurchaseSummaryRenamed["Average Purchase Price"] = GenderPurchaseSummaryRenamed["Average Purchase Price"].astype(float).map("${:,.2f}".format)
GenderPurchaseSummaryRenamed["Avg Total Purchase per Person"] = GenderPurchaseSummaryRenamed["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

# Print
GenderPurchaseSummaryRenamed

,PurchaseCount,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,"$1,967.64",$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [37]:
# Establish bins for player ages
age_range = [0, 10, 15, 20, 25, 30, 35, 40, 110]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [38]:
# Add column into original df to put in the bin labels
df["Age range"] = pd.cut(df["Age"], age_range, labels=age_labels)
Age_df = df

In [39]:
# Groupby new column
AgeRange_df = Age_df.groupby("Age range")

In [40]:
# Count players in Age Range Groups
AgeCount_df = AgeRange_df["Purchase ID"].count()

In [41]:
# Find the percent of players in each bin
Percent_of_Players2 = AgeCount_df / Total_purchases
Percent_of_Players2 = Percent_of_Players2.round(2)

In [42]:
# Merge tables
AgeCountSummary = pd.merge(AgeCount_df, Percent_of_Players2, on="Age range")

In [43]:
# Rename Columns
AgeCountSummary_Renamed = AgeCountSummary.rename(columns=
    {"Purchase ID_x": "Total Count", "Purchase ID_y": "Percentage of Players"})
# Change to Dataframe
AgeCountSummary_df = pd.DataFrame(AgeCountSummary_Renamed)

# Formatting
AgeCountSummary_df["Percentage of Players"] = AgeCountSummary_df["Percentage of Players"].astype(float).map("{:.0%}".format)

# Print
AgeCountSummary_df

           Total Count Percentage of Players
Age range
<10                 32                    4%
10-14               54                    7%
15-19              200                   26%
20-24              325                   42%
25-29               77                   10%
30-34               52                    7%
35-39               33                    4%
40+                  7                    1%

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
# Count purchases
PurchaseCount_df = AgeRange_df["Price"].count()

In [45]:
# Sum together all the pricing for each age
TotalPurchaseAge_df = AgeRange_df["Price"].sum()

In [46]:
# Average Purchase Price
AveragePurchaseAge_df = AgeRange_df["Price"].mean()
AveragePurchaseAge_df = AveragePurchaseAge_df.round(2)

In [47]:
# Avg Total Purchase per person - Count names for each gender
Unique_names_age = Age_df[["Age range","SN"]].groupby("Age range").nunique()
Unique_names_age = pd.DataFrame(Unique_names_age)

In [48]:
# Merge Player count and value total for each gender
AveragePlayerValueAge_df = pd.merge(Unique_names_age, TotalPurchaseAge_df, on="Age range")

In [49]:
# Add mean column to AveragePlayerValue_df to find average player value
AvgPlayerValueAge = AveragePlayerValueAge_df['Price']/AveragePlayerValueAge_df['SN']
AvgPlayerValueAge = AvgPlayerValueAge.round(2)
AvgPlayerValueAge = pd.DataFrame(AvgPlayerValueAge)

In [50]:
# Merge Together to create summary table
# PurchaseCount_df, TotalPurchaseAge_df, AveragePurchaseAge_df
AgePurchaseSummary3 = pd.merge(PurchaseCount_df, TotalPurchaseAge_df, on="Age range")
AgePurchaseSummary2 = pd.merge(AgePurchaseSummary3, AveragePurchaseAge_df, on="Age range")
AgePurchaseSummary1 = pd.merge(AgePurchaseSummary2, AvgPlayerValueAge, on="Age range")

In [51]:
# Rename Columns
AgePurchaseSummary_Renamed = AgePurchaseSummary1.rename(columns=
    {"Price_x": "Purchase Count", "Price_y": "Total Purchase Value", "Price": "Average Purchase Price", 0: "Avg Total Purchase per Person"})

# Formatting
AgePurchaseSummary_Renamed["Total Purchase Value"] = AgePurchaseSummary_Renamed["Total Purchase Value"].astype(float).map("${:,.2f}".format)
AgePurchaseSummary_Renamed["Average Purchase Price"] = AgePurchaseSummary_Renamed["Average Purchase Price"].astype(float).map("${:,.2f}".format)
AgePurchaseSummary_Renamed["Avg Total Purchase per Person"] = AgePurchaseSummary_Renamed["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

# Print
AgePurchaseSummary_Renamed

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Age range,,,,
<10,32,$108.96,$3.40,$4.54
10-14,54,$156.60,$2.90,$3.82
15-19,200,$621.56,$3.11,$4.14
20-24,325,$981.64,$3.02,$4.23
25-29,77,$221.42,$2.88,$3.75
30-34,52,$155.71,$2.99,$4.21
35-39,33,$112.35,$3.40,$4.32
40+,7,$21.53,$3.08,$3.08

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
# Groupby column SN
SN_df = df.groupby("SN")

In [53]:
# Count Purchases
SNPurchaseCount_df = SN_df["Price"].count()

In [54]:
# Average Purchase Price
AveragePurchaseSN_df = SN_df["Price"].mean()
AveragePurchaseSN_df = AveragePurchaseSN_df.round(2)

In [55]:
# Total Purchase Value
TotalPurchaseSN_df = SN_df["Price"].sum()

In [56]:
# Merge together tables
# SNPurchaseCount_df, AveragePurchaseSN_df,TotalPurchaseSN_df
SNPurchaseSummary3 = pd.merge(SNPurchaseCount_df, AveragePurchaseSN_df, on="SN")
SNPurchaseSummary2 = pd.merge(SNPurchaseSummary3, TotalPurchaseSN_df, on="SN")
SNPurchaseSummary2

               Price_x  Price_y  Price
SN
Adairialis76         1     2.28   2.28
Adastirin33          1     4.48   4.48
Aeda94               1     4.91   4.91
Aela59               1     4.32   4.32
Aelaria33            1     1.79   1.79
...                ...      ...    ...
Yathecal82           3     2.07   6.22
Yathedeu43           2     3.01   6.02
Yoishirrala98        1     4.58   4.58
Zhisrisu83           2     3.94   7.89
Zontibe81            3     2.68   8.03

[576 rows x 3 columns]

In [58]:
# Rename
SNPurchaseSummary_Renamed = SNPurchaseSummary2.rename(columns=
    {"Price_x": "Purchase Count", "Price_y": "Average Purchase Price", "Price": "Total Purchase Value"})

# Turn in to dataframe
SNPurchaseSummary_Renamed = pd.DataFrame(SNPurchaseSummary_Renamed)

# Formatting
SNPurchaseSummary_Renamed["Total Purchase Value"] = SNPurchaseSummary_Renamed["Total Purchase Value"].astype(float).map("${:,.2f}".format)
SNPurchaseSummary_Renamed["Average Purchase Price"] = SNPurchaseSummary_Renamed["Average Purchase Price"].astype(float).map("${:,.2f}".format)

# Print
SNPurchaseSummary_Renamed

               Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76                1                  $2.28                $2.28
Adastirin33                 1                  $4.48                $4.48
Aeda94                      1                  $4.91                $4.91
Aela59                      1                  $4.32                $4.32
Aelaria33                   1                  $1.79                $1.79
...                       ...                    ...                  ...
Yathecal82                  3                  $2.07                $6.22
Yathedeu43                  2                  $3.01                $6.02
Yoishirrala98               1                  $4.58                $4.58
Zhisrisu83                  2                  $3.94                $7.89
Zontibe81                   3                  $2.68                $8.03

[576 rows x 3 columns]

In [59]:
# Sort Total Purchase Value in decending order
SNPurchasesSummary_sorted = SNPurchaseSummary_Renamed.sort_values("Total Purchase Value", ascending=False)

# Print
SNPurchasesSummary_sorted

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18
...                      ...                    ...                  ...
Qilalista41                1                  $1.02                $1.02
Ililsasya43                1                  $1.02                $1.02
Aidai61                    1                  $1.01                $1.01
Chanirra79                 1                  $1.01                $1.01
Alo38                      1                  $1.00                $1.00

[576 rows x 3 columns]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
# Retrieve the Item ID, Item Name, and Item Price columns
PopularItem_df = df[['Item ID', 'Item Name', 'Price']]

In [61]:
# Group by Item ID and Item name
PopularItem_grouped = PopularItem_df.groupby(["Item ID", "Item Name"])

In [62]:
# Obtain purchase count
PurchaseCount_PopularItem = PopularItem_grouped["Price"].count()

In [63]:
# Obtain average item price
AvgPrice_PopularItem = PopularItem_grouped["Price"].mean()
AvgPrice_PopularItem = AvgPrice_PopularItem.round(2)

In [64]:
# Obtain Total purchase value per item
TotalSum_PopularItem = PopularItem_grouped["Price"].sum()
TotalSum_PopularItem = TotalSum_PopularItem.round(2)

In [65]:
# Merge dataframes together
PopularItemSummary2 = pd.merge(PurchaseCount_PopularItem,AvgPrice_PopularItem, on="Item Name")
PopularItemSummary1 = pd.merge(PopularItemSummary2,TotalSum_PopularItem, on="Item Name")

In [66]:
# Rename Columns
PopularItemSummary_renamed = PopularItemSummary1.rename(columns = {"Price_x": "Purchase Count", "Price_y": "Item Price", "Price": "Total Purchase Value"})

# Data frame
PopularItemSummary_renamed = pd.DataFrame(PopularItemSummary_renamed)

# Formatting
PopularItemSummary_renamed["Item Price"] = PopularItemSummary_renamed["Item Price"].astype(float).map("${:,.2f}".format)
PopularItemSummary_renamed["Total Purchase Value"] = PopularItemSummary_renamed["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# Print
PopularItemSummary_renamed

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Splinter,4,$1.28,$5.12
Crucifer,4,$2.94,$11.77
Verdict,6,$2.48,$14.88
Phantomlight,6,$2.49,$14.94
Bloodlord's Fetish,5,$1.70,$8.50
...,...,...,...
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
Reaper's Toll,5,$1.66,$8.30
Toothpick,3,$4.03,$12.09
Dragon's Greatsword,3,$1.09,$3.27

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [67]:
# Most Profitable items - sorting the above table decending by Total Purchase Value
ProfitableItems = PopularItemSummary_renamed.sort_values("Total Purchase Value", ascending=False)
# Data frame
ProfitableItems = pd.DataFrame(ProfitableItems)
# Print
ProfitableItems

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Stormfury Mace,2,$4.99,$9.98
"Chaos, Ender of the End",5,$1.98,$9.90
Stormfury Longsword,2,$4.93,$9.86
"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
Frenzied Scimitar,6,$1.56,$9.36
...,...,...,...
Crying Steel Sickle,3,$3.41,$10.23
Severance,3,$3.40,$10.20
Suspension,7,$1.44,$10.08
Gladiator's Glaive,1,$1.93,$1.93
The Decapitator,1,$1.75,$1.75

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80